@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body {
  background-color: #F5F5DC; /* Subtle olive green */
}

.app-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    background-color: #FFFAF0; /* FloralWhite - Like an old recipe card */
    padding: 20px;
    border: 1px solid #E6E6FA; /* Lavender */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

h1 {
    font-family: 'Dancing Script', cursive; /* A handwritten-like font for headings. Remember to import it from Google Fonts */
    color: #8B4513; /* SaddleBrown - Darker text for contrast */
}

form {
    margin-top: 20px;
}

select, input {
    margin: 10px;
    padding: 10px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #A0522D; /* Sienna - Earthy border color */
    border-radius: 5px; /* Rounded edges */
}

button {
    cursor: pointer;
    background-color: #A0522D; /* Chocolate - Earthy button color */
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #D2691E; /* SaddleBrown - Darken button color on hover */
}



.split-screen {
  display: flex;
  flex-direction: column;
}

.left {
  height: 200px
}

.left, .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  background-color: pink;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url('images/loginpic.png');
  background-size: cover;
}

.left .copy {
  color: white;
  text-align: center;
}

@media screen and (min-width: 900px)
{
  .split-screen {
    flex-direction: row;
    height: 100vh;
  }

  .left{
    display: flex;
    width: 55%;
    height: auto;
  }

  .right{
    display: flex;
    width: 45%;
    height: auto;
  }
}


#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 500px;
  width: 500px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  background-color: #e2c9c6;
  border-radius: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  border-radius: 50px;
  margin-bottom: 20px;
}

#login-title{
  font-family: 'Dancing Script', cursive;
  color: white;
  font-size: 50px;
  text-shadow: 1px 1px 5px #8B4513;
}

#get-started-text {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-shadow: 1px 1px 5px #8B4513;
  
}

.right {
  background-color: white;
}













nav {
  margin: 20px 0;  
  background-color: #8B4513; 
  padding: 10px 0;
  margin-bottom: 20px; 
}

nav ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  display: flex; 
  justify-content: space-around; 
  max-width: 600px; 
  margin: auto; 
}

nav li {
  display: inline-block;  
  margin-right: 20px;  
}

nav a {
  text-decoration: none; 
  color: white;
  padding: 5px 15px;
  border-radius: 5px; 
}

nav a:hover {
  background-color: #D2691E;
  color: white; 
}


.processing-message {
  font-size: 1.1em;
  font-weight: bold;
  color: #D2691E;
  margin-top: 20px;
}


#navbar-name{
  color: white;
  
}

#navbar-button {
  height: 20px;
}
